.bs-example {
    margin: 20px;
}

.table {
    width: 80%;
    margin-bottom: 1rem;
    color: #212529;
}

.table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}

.hidden {
    display: none;
}

.success {
    color: green
}

.error {
    color: red
}